body {
  background-color: black;
  min-height: 100vh;
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/* DESKTOP CONFIG */

.header-menu-list {
  display: flex;
  flex-direction: row;
}

.header-menu-list span {
  color: white;
  font-size: 22px;
}

.header-menu-list li {
  padding-right: 50px;
  list-style-type: none;
}

.align-menu {
  display: flex !important;
  align-items: center !important;
}

.logo-img {
  width: 250px;
}

.hero-invite h1 {
  color: #ffeb3b;
  font-size: 8vh !important;
}

.hero-invite {
  flex-grow: 1;
  height: calc(100vh -60px);
}

.neon {
  animation: neonAnim 2s alternate-reverse infinite;
  color: #bcf147;
  font-size: 72px;
}
@keyframes neonAnim {
  from {
    text-shadow: 0 0 3px rgba(187, 241, 71, 0.445),
      0 0 22px rgba(187, 241, 71, 0.425), 0 0 100px rgba(187, 241, 71, 0.39);
  }
  to {
    text-shadow: 0 0 5px rgba(187, 241, 71, 0.459),
      0 0 10px rgba(187, 241, 71, 0.459), 0 0 20px rgba(187, 241, 71, 0.418);
  }
}

.pixel-box--primary {
  border-radius: 14px;
}

.pixel-box--primary {
  color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 4px;
  border-color: #ffc000;
  border-image-slice: 2;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><path d='M0 2h2v2H0zM2 0h2v2H2zM4 2h2v2H4zM2 4h2v2H2z' fill='%23a88f06' /></svg>");
  position: relative;
  background-color: #ffc000;
}
.pixel-box--primary::after {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -4px -4px #e2aa03;
  box-shadow: inset -4px -4px #e2aa03;
}
.pixel-borders {
  position: relative;
  display: inline-block;
  margin: 0 15px 15px 0;
  padding: 15px 20px;
  background-color: #ffc000;
  font-weight: bold;
  font-size: 33px;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
  font-size: 18px;
}

.span-desc {
  color: rgb(255, 255, 255) !important;
  text-align: center;
}

.coin1 {
  position: absolute;
  top: calc(100vh * 0.5);
  right: calc(100vh * 0.2);
  animation: spin 1.3s linear infinite;
}
.coin2 {
  position: absolute;
  top: calc(100vh * 0.8);
  right: calc(100vh * 1.55);
  animation: spin 1.6s linear infinite;
}
.coin3 {
  position: absolute;
  top: calc(100vh * 0.7);
  right: calc(100vh * 0.5);
  animation: spin 1.8s linear infinite;
}
.coin4 {
  position: absolute;
  top: calc(100vh * 0.7);
  right: calc(100vh * 1.5);
  animation: spin 1.8s linear infinite;
}
.coin5 {
  position: absolute;
  top: calc(100vh * 0.6);
  right: calc(100vh * 1.3);
  animation: spin 1.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.bg-dark {
  background: #040501;
  padding: 80px 0px;
}
.bg-ligth-2 {
  background: #7c7823;
  padding: 80px 0px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 26.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
}
